body
{
    font-family: 'Open Sans', sans-serif;
    background: rgb(49, 132, 89);
    font-size: 30px;
}
.header_div
{
    background: rgb(112, 205, 157);
    color: rgb(13, 108, 59);
 
}
.header_div p
{
    font-size: 18px;
}
.main_div button
{
    margin-top: 30px;
    width: 130px;
    font-size: 20px;
    color: rgb(7, 62, 33);
}
#result_label
{
    color: rgb(128, 234, 179);
}
#result_confidence
{
    color: rgb(128, 234, 179);
}
#dog
{
    margin: 20px;
    border-radius: 5px;
}
#cat
{
    margin: 20px;
    border-radius: 5px;
}
#cow
{
    margin: 20px;
    border-radius: 5px;
}
#monkey
{
    margin: 20px;
    border-radius: 5px;
}
.copy_right_footer
{
    position: fixed;
    background: rgb(112, 205, 157);
    color: rgb(9, 84, 45);
    bottom: 0;
    width: 100%;
    font-size: 30px;
    line-height: 2;
    text-align: center;
   
}





